

.block{
    display:flex;
    flex-direction: column;
}
.block--abled {
    background-color: green;
}
.block--disabled {
    background-color:red;
}


.block__tile{
   
    background-color:white;
    padding:0.2rem;
   
   
   
    
}

.tile__inner{
    background: var(--purple);

    border:0.18rem solid gold;
    width:100%;
    height:100%;
    border-radius: 0.4rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0 -0.5rem 0.5rem 0.3rem inset;
    
}




.hide {
    transition: 0.00001s;
    transform: translateX(-9999px);
}

