.block{
    display:flex;
    flex-direction: column;
}
.block--abled {
    background-color: green;
}
.block--disabled {
    background-color:red;
}


.block__tile{
    border: 0.05rem solid white;
    background-color: var(--board-innerBg);
}

.block__tile2{
    background-color: #0a6bff;
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.05rem solid gold;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
   
    
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}




.hide {
    transition: 0.00001s;
    transform: translateX(-9999px);
}

