.board__tile {
   
    background-color: var(--board-innerBg);
}


.board__tile--filled {
    background-color: green;
}
.board__tile--over {
    background-color: orange;
}
.board__row{
  
    display: flex;
}