#board{

}


.board__tile {
    border: 0.05rem solid white;
    background-color: #1C1B29;
}


.board__tile--filled {
    background-color: #676FCF;
}
.board__tile--over {
    background-color: orange;
}
.board__row{
  
    display: flex;
}