.board__tile {
    background-color: var(--board-innerBg);
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid white;
}


.board__tile--filled {
    background-color: var(--red);
}
.board__tile--over {
    background-color: green;
}
.board__row{
  
    display: flex;
}