@import 'reset.css';
@import 'board.css';
@import 'block.css';
@import 'score.css';

:root {
  --board-innerBg: #0d1a48;
  --bg-outer: #1c1b29;
  --bg-inner: #292841;
  --red: #fd2f11;
  --pink: #fc3891;
  --blue: #115ef0;
  --skyblue: #1dc8e7;
  --yellow: #ffdd0f;
  --purple: #db09f0;
  --green: #39b500;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-inner);
}

.tile {
  min-width: 4rem;
  min-height: 4rem;
  width: 4rem;
  height: 4rem;
}
