@import "reset.css";

:root {
    --main-color: red;
    --board-innerBg: #0D1A48;
    --board-outerBg:#203F82;
    --red:#ED1A25;
    --orange:#1E2462;
   
}

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
 
}
* {
    box-sizing: border-box;
}

.container{
    background-color: var(--board-innerBg);
    max-width: 530px;
    max-height: 700px;
    margin:auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100vw;
    height: 100vh;
}
.row-container{
  
    display: flex;
}
.tile {
    background-color: var(--board-innerBg);
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid white;
}


.tile-filled {
    background-color: var(--red);
}
.tile-over {
    background-color: green;
}

.block{
   
    width:fit-content;
    height: fit-content;
}

.-block--two{
    display: flex;
}
.-block--three{
   
   display:flex;
   flex-direction: column;
   align-items: end;
    
}
.-block--four{
   
   display:flex;
   flex-direction: column;
   align-items: start;
    
}
.-block--five{
   
   display:flex;
   flex-direction: column;
   align-items: start;
    
}