@import "reset.css";
@import "board.css";
@import "block.css";

:root {
    --main-color: red;
    --board-innerBg: #0D1A48;
    --board-outerBg:#203F82;
    --red:#ED1A25;
    --orange:#1E2462;
   
}

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:62.5%;
}

* {
    box-sizing: border-box;
}

#root{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.tile{
    
       
        min-width: 4rem;
        min-height: 4rem;
        width: 4rem;
        height: 4rem;
        border-radius: 0.5rem;

  
}


